<div id="<%= dom_id group %>" class="group-details">

  <div class="group-header">
    <div class="group-image">
      <img src="<%= group.icon %>">
    </div>
    <p class="">   
    <%= group.name %>
    </p>
  </div>

  <div class="group-total">
    
      <%= render "total" %>
    
  </div>

</div>
