<h1>Groups</h1>

<div id="groups" class="group_container">
  <% @groups.each do |group| %>
    <%= render group %>
    <p class= "mgr_0 group_detail">
      <%= link_to "Show this group", group %>
    </p>
  <% end %>
</div>
<%= link_to "New group", new_group_path %>
