<section class="container">
<h1>Welcome to Budget Tracker</h1>
<div class="home_info">
  <div class="home_info_div">
    <div class="home_info_txt">
      <h3>Track General Expenses</h3>
      <p class="home_info_p">Keep tracking all your expences, add all transaction you make and check the toal amount of you expenses</p>
    </div>
    <img src="https://www.workflowmax.com/hubfs/budget%20900x400v2.png" alt="Nature" width="100" height="120">
  </div>
  <div class="home_info_div">
    <div class="home_info_txt">
      <h3>Stick to a Budget</h3>
      <p class="home_info_p">Stick to your Budget, add all your transaction and monitoring all expenses it will help you to keep in the limits and not to expend more than you need</p>
    </div>
    <img src="https://i0.wp.com/budgetology.co.za/wp-content/uploads/2021/05/Blog-35-Stick-to-Your-Monthly-Budget-e1622006506567.jpg?fit=1920%2C1080&ssl=1" alt="Nature" width="100" height="120">
  </div>
  <div class="home_info_div">
    <div class="home_info_txt">
    <h3>Save Money</h3>
    <p class="home_info_p">Save money! Tracking your expenses will permit to save money and no expend it in unnecesary transaction</p>
    </div>
    <img src="https://moneyclubber.com/wp-content/uploads/2021/03/How-To-Save-Money-From-Salary01.png" alt="Nature" width="100" height="120">
  </div>
  </div>
</section>