@font-face {
  font-family: 'Net proxima nova';
  src: url('net-proxima_nova.ttf');
}

body {
  font-family: 'Net proxima nova', sans-serif;
  background-color: #f5f5f5;
}

.nav {
  background-color: #386aab;
}
